<style>
		body {
			background-color: lightblue;
			font-family: Arial, sans-serif;
		}

		h1 {
			color: white;
			font-size: 36px;
			margin-top: 50px;
		}

		#main-content {
			background-color: white;
			padding: 20px;
			margin: 50px;
			border-radius: 10px;
		}

		.btn {
			background-color: green;
			color: white;
			padding: 10px;
			border-radius: 5px;
			text-decoration: none;
			display: inline-block;
			margin: 10px;
		}

		.btn:hover {
			background-color: darkgreen;
		}
	</style>